{% load compress %}<!DOCTYPE html>
<html ng-app="sb" ng-controller="sbBaseController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}songbook/css/main.css">
        {% endcompress %}
        {% compress js %}
        <script src="{{ STATIC_URL }}vendor/js/lodash.js"></script>
        <script src="{{ STATIC_URL }}vendor/js/angular.js"></script>
        <script src="{{ STATIC_URL }}vendor/js/angular-resource.js"></script>
        <script src="{{ STATIC_URL }}vendor/js/angular-route.js"></script>
        <script src="{{ STATIC_URL }}vendor/js/angular-translate.js"></script>
        <script src="{{ STATIC_URL }}songbook/js/utils.js"></script>
        <script src="{{ STATIC_URL }}songbook/js/main.js"></script>
        {% endcompress %}
        <title>[[ 'appName' | translate ]]</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">[[ 'appName' | translate ]]</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-repeat="menuItem in menuItems" ng-class="menuItemActive(menuItem)">
                       <a ng-href="[[ menuItem.url ]]">[[ menuItem.caption | translate ]]</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li ng-repeat="language in languages" ng-class="languageActive(language)">
                        <a ng-click="changeLanguage(language)">[[ language ]]</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container ng-view"></div>
    </body>
</html>