{% load compress %}
{% load static %}
<!DOCTYPE html>
<html ng-app="sb" ng-controller="sbBaseController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% compress css %}
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'songbook/css/main.css' %}">
        {% endcompress %}
        {% if user.is_authenticated %}
        <script>window.auth = {id: {{ user.id }}, username: '{{ user.username }}'};</script>
        {% endif %}
        {% compress js %}
        <script src="{% static 'vendor/js/lodash.js' %}"></script>
        <script src="{% static 'vendor/js/angular.js' %}"></script>
        <script src="{% static 'vendor/js/angular-resource.js' %}"></script>
        <script src="{% static 'vendor/js/angular-route.js' %}"></script>
        <script src="{% static 'vendor/js/angular-translate.js' %}"></script>
        <script src="{% static 'vendor/js/restangular.js' %}"></script>
        <script src="{% static 'vendor/js/angular-dragdrop.js' %}"></script>
        <script src="{% static 'songbook/js/utils.js' %}"></script>
        <script src="{% static 'songbook/js/auth.js' %}"></script>
        <script src="{% static 'songbook/js/main.js' %}"></script>
        {% endcompress %}
        <title ng-bind="'appName' | translate | sbUpperFirst">songbook</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">[[ 'appName' | translate | sbUpperFirst ]]</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-repeat="menuItem in menuItems" ng-class="menuItemActive(menuItem)">
                       <a ng-href="[[ menuItem.url ]]">[[ menuItem.caption | translate | sbUpperFirst ]]</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li ng-hide="auth.id">
                        <form class="navbar-form navbar-right"
                              ng-submit="auth.login({username: username, password: password})">
                            <div class="form-group">
                                <input ng-model="username" required name="username"
                                       type="text" placeholder="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <input ng-model="password" required name="password" type="password"
                                       placeholder="password" class="form-control">
                            </div>
                            <div class="btn-group">
                                <input type="submit" class="btn btn-default" ng-value="'signIn' | translate | sbUpperFirst">
                            </div>
                            <div class="popover bottom popover-login" ng-show="auth.error">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <button type="button" ng-click="auth.error = undefined" class="close pull-right">×</button>
                                    [[ auth.error ]]
                                </div>
                            </div>
                        </form>
                    </li>
                    <li ng-show="auth.id">
                        <a>[[ 'loggedAs' | translate | sbUpperFirst ]] [[ auth.username ]]</a>
                    </li>
                    <li ng-show="auth.id">
                        <div class="navbar-form navbar-right">
                            <button class="btn btn-default" ng-click="auth.logout()">[[ 'signOut' | translate | sbUpperFirst ]]</button>
                        </div>
                    </li>
                    <li ng-repeat="language in languages" ng-class="languageActive(language)">
                        <a ng-click="changeLanguage(language)">[[ language ]]</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="static-content">
                {% block content %}{% endblock %}
            </div>
            <div class="ng-view"></div>
        </div>
    </body>
</html>